.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #FFF;
}

body{
  margin-top: 7rem;
  
}

.btn {
  border-radius: 10px;
  width: 100px;
  border: none;
  background: #FFF;
  padding: .3rem;
  font-weight: 100;
}

@media (max-width: 600px){
  .btn {
    margin-top: .5rem;
  }
}

.inpt{
  width: 100px;
  border: none;
  padding: .3rem;
  text-align: center;
  border: 1px solid #35394A;
  border-radius: 10px;
  text-decoration: none;
}

.delete {
  background-color: #ff6347;
}

.update {
  background-color: #3d7c5f;
}

.searchLabel {
  font-size: .5rem;
}

.labelDiv {
  display: flex;
  flex-direction: column;
}

.search {
  width: auto;
  border: none;
  padding: .3rem;
  text-align: center;
  border: 1px solid #35394A;
  border-radius: 10px;
  text-decoration: none;
  margin: 1rem 15% 1rem 15%;
}